/* Universal Styles  */

* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}


/* Common Styles  */

.btn-primary {
    background: #FF900E;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    margin-bottom: 30px;
}

/* Header Section  */

header {
    background: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-evenly;
    gap: 500px;
    padding: 50px 0 150px;
    align-items: center;
}

nav h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.nav-links {
    display: flex;
    gap: 60px;

}

.nav-links a {
    text-decoration: none;
    color: #424242;

    font-weight: 500;
    font-size: 18px;
}


/* Banner Section  */

.banner-section {
    text-align: center;
    padding-bottom: 45px;
}

.banner-title {
    font-weight: 900;
    font-size: 64px;
    color: #131313;
    padding-bottom: 30px;
}

.banner-description {
    color: #727272;
    margin: 0 500px;
    padding-bottom: 30px;
}



/* Responsive Styles (Mobile) */

@media screen and (max-width:576px) { 
    
    
    nav {
        flex-direction: column;
        gap: 50px;
        padding-bottom: 80px;
        padding-left: 20px;
        align-items: flex-start;
    }
    
    .nav-links {
        flex-direction: column;
    }
    
    .banner-description {
        margin: 0;
        padding: 0 10px 30px;
    }
    
    .banner-section img {
        width: 95%;
        
    }
}

/* Responsive Styles (Tablet)  */
