/* Universal Styles  */

* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}


/* Common Styles  */

.btn-primary {
    background: #FF900E;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    margin-bottom: 30px;
}

/* Header Section  */

header {
    background: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-evenly;
    gap: 500px;
    padding: 50px 0 150px;
    align-items: center;
}

nav h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.nav-links {
    display: flex;
    gap: 60px;

}

.nav-links a {
    text-decoration: none;
    color: #424242;

    font-weight: 500;
    font-size: 18px;
}


/* Banner Section  */

.banner-section {
    text-align: center;
    padding-bottom: 45px;
}

.banner-title {
    font-weight: 900;
    font-size: 64px;
    color: #131313;
    padding-bottom: 30px;
}

.banner-description {
    color: #727272;
    margin: 0 500px;
    padding-bottom: 30px;
}




/* Quick List Section  */


.list-container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 85px 300px 130px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 25px;
}

.list-title, .list-para {
    padding-bottom: 28px;
}

.list-title {
    font-weight: 700;
    font-size: 45px;
}

.list-para {
    color:#727272 ;

}

/*----------------------- Responsive Styles (Mobile)-------------
----------------------------------------------------------------------*/

@media screen and (max-width:576px) { 
    
    /* ----Header Responsive---- */
    
    nav {
        flex-direction: column;
        gap: 50px;
        padding-bottom: 80px;
        padding-left: 20px;
        align-items: flex-start;
    }
    
    .nav-links {
        flex-direction: column;
    }

    .banner-title {
        font-size: 60px;
    }
    
    .banner-description {
        margin: 0;
        padding: 0 10px 30px;
    }
    
    .banner-section img {
        width: 95%;
        
    }

    /* ------Quick List Responsive ----- */

    .list-container {
        flex-direction: column; 
        margin: 15px 0;
    }

    .image-container {
        grid-template-columns: repeat(1 , 1fr);
    }

    .image-container img {
        width: 100%;
    }

    .list {
        text-align: center;
    }

    .list-para {
        padding: 0 5px 28px;
    }
}

/* ----------------------Responsive Styles (Tablet)------------------
----------------------------------------------------------------------------  */


@media screen and (min-width:577px) and (max-width:992px) {
    
    /* ----Header Responsive---- */

    nav {
        flex-direction: column;
        gap: 50px;
        padding-bottom: 80px;
        padding-left: 20px;
       
    }
    
    .nav-links {
        gap: 100px;
    }
    

    .banner-description {
        margin: 0;
        padding: 0 10px 30px;
    }
    
    .banner-section img {
        width: 95%;
        
    }

    /* ------Quick List Responsive ----- */

    .list-container {
        flex-direction: column; 
        margin: 15px 50px;
    }

    .list {
        text-align: center;
    }

}