/* Universal Styles  */

* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}


/* Common Styles  */

.btn-primary {
    background: #FF900E;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    margin-bottom: 30px;
}



/* Header Section  */

header {
    background: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-evenly;
    gap: 500px;
    padding: 50px 0 150px;
    align-items: center;
}

nav h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.nav-links {
    display: flex;
    gap: 60px;

}

.nav-links a {
    text-decoration: none;
    color: #424242;

    font-weight: 500;
    font-size: 18px;
}


/* Banner Section  */

.banner-section {
    text-align: center;
    padding-bottom: 45px;
}

.banner-title {
    font-weight: 900;
    font-size: 64px;
    color: #131313;
    padding-bottom: 30px;
}

.banner-description {
    color: #727272;
    margin: 0 500px;
    padding-bottom: 30px;
}




/* Quick List Section  */


.list-container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 85px 300px 130px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 25px;
}

.list-title,
.list-para {
    padding-bottom: 28px;
}

.list-title,
.feature-title {
    font-weight: 700;
    font-size: 45px;
}

.list-para {
    color: #727272;

}


/* Features Section  */


.feature-container {
    display: flex;
    margin: 0 240px;
    gap: 140px;
}

.line-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.ver-line {
    border-left: 5px solid #FF900E;
    ;
    height: 105px;
}

.feature-box {
    width: 586px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin: 20px 0;

}

.feature-para {
    padding-top: 30px;
}

.feature-box-title {
    padding: 30px 0 10px 33px;
}

.feature-info {
    padding: 0 42px 30px 33px;
}


.overlay-container {
    position: relative;
}

.exp-box {
    width: 300px;
    height: 170px;
    position: absolute;
    top: 850px;
    left: -90px;
    background: #FF900E;
    border-radius: 8px;
    text-align: center;
}

.exp-box h2 {
    font-weight: 700;
    font-size: 45px;
    color: #FFFFFF;
    padding-top: 30px;
}


/* Facts Section  */

.fact-section-con {
    text-align: center;
    padding: 100px 0;
}

.icon-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.icon-box {

    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;

}



.icon-image {
    margin-top: 50px;
    margin-bottom: 20px;
    transition: transform 1s;
}

.icon-image:hover {
    transform: rotate(360deg);
}

.fact-container h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.fact-container p {
    color: #727272;
}

.icon-container h2 {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.icon-container p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* Sponsors Section  */

.sponsor-container {
    text-align: center;
}

.sponsor-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding-bottom: 24px;
}

.sponsor-desc {
    color: #727272;
}

.sponsor-img {
    display: flex;
    justify-content: space-evenly;
}

.sponsor-img img {
    width: 180px;
    height: 50px;
    padding: 50px 0 130px;
    filter: grayscale(100%);
}


/*----------------------- Responsive Styles (Mobile)-------------
----------------------------------------------------------------------*/

@media screen and (max-width:576px) {

    /* ----Header Responsive---- */

    nav {
        flex-direction: column;
        gap: 50px;
        padding-bottom: 80px;
        padding-left: 20px;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
    }

    .banner-title {
        font-size: 60px;
    }

    .banner-description {
        margin: 0;
        padding: 0 10px 30px;
    }

    .banner-section img {
        width: 95%;

    }

    /* ------Quick List Responsive ----- */

    .list-container {
        flex-direction: column;
        margin: 15px 0;
    }

    .image-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 10px;
    }

    .image-container img {
        width: 100%;
    }

    .list {
        text-align: center;
    }

    .list-para {
        padding: 0 5px 28px;
    }


    /* Features Section  */

    .feature-container {
        flex-direction: column;
        margin: 0 20px;
        gap: 20px;

    }

    .overlay-container img {
        width: 100%;
    }

    .feature-box-title {
        padding-left: 20px;
    }

    .feature-box {
        height: 170px;
        width: 100%;
        padding-bottom: 20px;

    }

    .feature-info {
        padding-left: 20px;
        padding-right: 20px;

    }

    .exp-box {
        top: 520px;
        left: 0;
        width: 100%;

    }


    /* Facts Section  */


    .fact-section-con {
        margin-top: 400px;
        padding: 0;
    }

    .fact-container {
        padding: 20px 20px;
    }

    .icon-container {
        flex-direction: column;
        align-items: center;
    }

    .icon-box {
        margin-bottom: 20px;
    }

    /* Sponsors Section responsive */

    .sponsor-desc {
        padding: 0 10px;
    }

    .sponsor-img {
        flex-direction: column;
        align-items: center;
    }

    .sponsor-img img {
        padding-bottom: 30px;
    }

}

/* ----------------------Responsive Styles (Tablet)------------------
----------------------------------------------------------------------------  */


@media screen and (min-width:577px) and (max-width:992px) {

    /* ----Header Responsive---- */

    nav {
        flex-direction: column;
        gap: 50px;
        padding-bottom: 80px;
        padding-left: 20px;

    }

    .nav-links {
        gap: 100px;
    }


    .banner-description {
        margin: 0;
        padding: 0 10px 30px;
    }

    .banner-section img {
        width: 95%;

    }

    /* ------Quick List Responsive ----- */

    .list-container {
        flex-direction: column;
        margin: 15px 50px;
    }

    .list {
        text-align: center;
    }

    /* Features Responsive  */

    .feature-container {
        flex-direction: column;
        margin: 0 30px;
        gap: 80px;
    }

    .feature-box {
        margin-left: 50px;
    }

    .exp-box {
        top: 1000px;
        left: 90px;
        width: 70%;

    }


    /* Facts Responsive  */

    .fact-section-con {
        margin-top: 300px;
        padding: 0 50px;
    }


    .icon-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-row-gap: 20px;
    }

}